.hero .g-md-5 .col-lg-8 p:nth-child(3) {
  color: #080808;
}
.hero .g-md-5 .col-lg-8 p:nth-child(4) {
  color: #080808;
  padding-bottom: 1rem;
}
.btn-all-price {
  display: inline-block;
  width: fit-content;
  font-size: var(--p-h4-fontsize);
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.8rem 2.8rem;
  border-radius: 0.6rem;
  border: none;
}
.call-to-action {
  margin: 4rem 0;
}
.call-to-action p:first-child {
  font-size: var(--h2-fontsize);
  font-weight: 600;
}

.services-pricing .d-flex {
  justify-content: center;
}
.services-pricing .d-flex a {
  color: #fff;
  background-image: none;
}
.services-carousel {
  margin: 1rem 0 5rem;
}
.services-carousel .section-heading p {
  font-size: var(--h2-fontsize);
  font-weight: 700;
  color: #080808;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .services-carousel .carousel .carousel-indicators {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0;
    gap: 1rem;
  }
}
.services-carousel .carousel .carousel-indicators [data-bs-target] {
  width: 13%;
  height: auto;
  box-shadow: var(--card-shadow);
}
.career-episode-writing-content {
  padding: 5rem 0 1rem;
}
.career-episode-writing-content h2 {
  padding-top: 1rem;
}
.career-episode-writing-content .tab-pane h3 {
  padding: 3rem 0 0.5rem;
  font-weight: 600;
}
.things-to-consider-heading {
  padding: 1.5rem 0 0;
}
.things-to-consider {
  padding: 1rem 0 1rem 0.8rem;
  width: 55%;
}
.things-to-consider-carousel .col-odd .card {
  background-color: var(--color-primary);
  transition: transform 0.3s ease-in-out;
}
.things-to-consider-carousel .col-even .card {
  background-color: #63caad;
  transition: transform 0.3s ease-in-out;
}
.things-to-consider-carousel .card:hover {
  background-color: #b8ea38;
  transform: scale(1.03);
}

.things-to-consider-carousel .card {
  padding: 2rem 3rem;
  height: 100%;
  border: none;
}

.things-to-consider-carousel .card .card-body .card-heading .bi {
  font-size: calc(var(--h2-fontsize) + 2.5rem);
  color: #fff;
}
.things-to-consider-carousel .card .card-body span {
  font-size: var(--h3-fontsize);
  font-weight: 500;
  color: #fff;
}
.things-to-consider-carousel .carousel-item .card .card-body p:first-of-type {
  font-size: var(--h2-fontsize);
  color: #fff;
  padding: 0.5rem 0;
}
.things-to-consider-carousel .card .card-body p {
  color: #fff;
  padding-bottom: 1rem;
  font-size: calc(var(--h5-fontsize) + 0.2rem);
  font-weight: 400;
}
@media (max-width: 768px) {
  .things-to-consider {
    width: 100%;
  }
  .things-to-consider-carousel .card {
    padding: 0rem;
  }
  .things-to-consider-carousel .card .card-body p {
    padding: 0.3rem 0;
  }
  .things-to-consider-carousel .card .card-body .card-heading {
    padding-bottom: 0;
  }
  .things-to-consider-carousel {
    margin-bottom: 3rem;
  }
}
.tab-content h3 {
  padding: 0;
}
.tab-content .p-heading {
  font-weight: 600;
  margin: 2rem 0 0;
}
.tab-content h4 {
  font-weight: 600;
  margin: 3rem 0 0;
}
.parent-tab .nav {
  border-top: 1px solid rgba(128, 128, 128, 0.298);
  border-bottom: 1px solid rgba(128, 128, 128, 0.298);
  margin-top: 3rem;
}
.parent-tab .nav li a {
  padding: 3rem 5.5rem;
  text-align: center;
  color: black;
  font-size: var(--p-h4-fontsize);
  word-wrap: break-word;
  background-image: none;
  display: flex;
  gap: 2rem;
  height: 100%;
}
.parent-tab .nav .nav-item:hover {
  background-image: linear-gradient(90deg, #59ff8b 0, #1fa447 95%);
}
.parent-tab .nav .nav-item .active {
  background-color: var(--color-primary);
  color: #fff;
}
.parent-tab .nav .nav-item a .bi {
  color: var(--color-primary);
  margin-bottom: 0.7rem;
  font-size: var(--h3-fontsize);
}

.parent-tab .nav .nav-item .active .bi {
  color: #fff;
}
.tab-content .child-tab {
  margin-top: 2rem;
}
@media (max-width: 576px) {
  .parent-tab .nav {
    border: 1px solid rgba(128, 128, 128, 0.298);
  }
  .parent-tab .nav li a {
    padding: 3rem;
  }
}
.row .flex-column li {
  margin-bottom: 0.5rem;
  background-color: var(--color-primary);
  position: relative;
  border-radius: 1rem;
}

.row .flex-column li a {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.row .flex-column li .active {
  background-color: #c29010;
  border-radius: 1rem;
}
.row .flex-column li:hover {
  background-color: #4d8f49;
}
.row .flex-column li:last-child {
  margin-bottom: 0;
}
.row .flex-column li a {
  background-image: none;
  color: #fff;
}
.row .col-md-8 {
  background: linear-gradient(to left, #caea7c, #b2e9b3);
}
.row .col-md-8 .tab-content .tab-pane {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-left: 2rem;
}
.row .col-md-8 .tab-content .tab-pane h4 {
  padding-bottom: 1rem;
}
.summary-statement-writing {
  padding: 5rem 0 1rem;
}
.summary-statement-writing .row {
  padding-right: 0;
}
.summary-statement-writing .row-cols-lg-4 {
  padding: 0;
}

.summary-statement-writing .parent-tab .nav li a {
  padding: 3rem 4rem;
}
.summary-statement-writing .row .tab-pane h3 {
  padding-top: 3rem;
}

.review-section .card {
  margin: 1.5rem 0 3.5rem;
  box-shadow: var(--card-shadow);
  padding: 1rem;
  border: none;
  background-color: #dff3e2;
}
.review-section .card .bi-star-fill {
  color: #efa430;
}
.review-section .card p:nth-child(2) {
  font-size: calc(var(--h5-fontsize) + 0.1rem);
}
.review-section .card p:last-child {
  font-size: calc(var(--h5-fontsize) + 0.01rem);
  padding-top: 0.7rem;
}
.acs-rpl-report-content {
  padding: 5rem 0 0rem;
}
.acs-rpl-report-content .review-section {
  margin-top: 4rem;
}
.acs-rpl-report-content .review-section .card {
  margin: 1rem 0 2.5rem;
}

.acs-rpl-report-content
  .row
  .tab-content
  .tab-pane
  .child-tab:first-of-type
  .nav
  .nav-item
  a {
  padding: 2rem 3rem;
}
.acs-rpl-report-content .tab-content .tab-pane {
  padding: 3rem 0 0 1rem;
}
@media (max-width: 991px) {
  .acs-rpl-report-content
    .row
    .tab-content
    .tab-pane
    .child-tab:first-of-type
    .nav
    .nav-item
    a {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .acs-rpl-report-content .tab-content .tab-pane {
    padding: 3rem 0 0;
  }
}
.acs-rpl-report-content .child-tab .tab-content .tab-pane {
  padding-top: 0;
}
.acs-rpl-report-content .row .col-md-9 {
  background: linear-gradient(to left, #caea7c, #b2e9b3);
}
.acs-rpl-report-content .row .col-md-9 .tab-content .tab-pane {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-left: 2rem;
}
.acs-rpl-report-content .row .tab-content .section-2 {
  padding-top: 3rem;
}
.cdr-report-review-service-australia-content {
  padding: 5rem 0 1rem;
}

.cdr-report-review-service-australia-content .g-md-3 {
  margin-top: 1rem;
}
.cdr-report-review-service-australia-content .row .tab-content .tab-pane {
  padding: 2rem;
}
.cdr-report-review-service-australia-content .row .tab-content .tab-pane h4 {
  margin-top: 0;
  padding-bottom: 0;
}
.cdr-report-review-service-australia-content .row .col-md-9 {
  background: linear-gradient(to left, #caea7c, #b2e9b3);
}
.cdr-report-review-service-australia-content
  .row
  .col-md-9
  .tab-content
  .tab-pane {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-left: 2rem;
}
.stage-2-cdr-writing-content {
  padding: 5rem 0 1rem;
}

.stage-2-cdr-writing-content .row h3 {
  margin-top: 2.8rem;
}
.stage-2-cdr-writing-content .row h2 {
  margin-top: 3.8rem;
}
.stage-2-competency-claims-writing {
  padding: 5rem 0 1rem;
}
.stage-2-competency-claims-writing img {
  padding: 2rem 0;
}
.stage-2-competency-claims-writing .group-tab {
  padding: 4rem 0 1rem;
}
.stage-2-competency-claims-writing .things-to-consider {
  padding-top: 3.5rem;
}
.stage-2-competency-claims-writing .row .tab-pane {
  padding: 2rem;
}
.cdr-stage-2-review {
  padding: 5rem 0 0rem;
}
.rpl-review-service {
  padding: 5rem 0 0;
}
.rpl-review-service .call-to-action {
  margin: 6rem 0 3.5rem;
  padding: 4rem 2rem;
}
.rpl-review-service .row .col-12:has(.tab-content) h2 {
  margin-top: 4rem;
}
.ka02-report-writing .parent-tab {
  margin-top: 3rem;
}
.ka02-report-writing .row .tab-content .tab-pane h2 {
  padding-top: 3rem;
}
.ka02-report-writing .row .tab-content .tab-pane h3 {
  padding-top: 2.5rem;
}
.ka02-report-writing .row .tab-content .tab-pane .child-tab {
  margin-top: 3rem;
}
.ka02-faq table th {
  font-weight: 600;
  padding: 1rem;
}
.ka02-faq table td {
  padding: 1rem;
}
@media (max-width: 768px) {
  .rpl-review-service .call-to-action {
    margin: 5rem 0 3rem;
    padding: 4rem 0rem;
  }
  .cdr-report-writing-content .nav {
    border: none;
  }
}
